@font-face {
    font-family: 'Digital Dismay';
    src: url('Digital Dismay.otf');
}

.digital-display {
    background-color: #263238;
    display: inline-block;
    padding: 4px;
    font-size: 72px;
    font-family: 'Digital Dismay';
    position: relative;
    color: #dd2c00;
    text-shadow: 0px 0px 9px #dd2c00;
    z-index: 0;
}

.digital-display::before {
    content: '88';
    color: rgba(88, 37, 32, 0.8);
    position: absolute;
    z-index: -1;
    text-shadow: none;
}

.btn-ctrl {
    width: 98%;
    margin: 2px 0 2px;
    font-size: 32px;
    text-transform: none;
}

.btn-ctrl i,
.btn-ctrl span {
    font-size: 32px;
}

.display-well {
    font-size: 190px;
}